@model List<Question>
@{
    ViewData["Title"] = "Exam";
}
<form asp-action="SubmitExam" method="post">
    @foreach (var q in Model)
    {
            <div>
                <p>@q.Id. @q.Text</p>
                <textarea name="answers[@q.Id]" rows="3" cols="80"></textarea>
            </div>
        
    }

    <button type="submit">Submit Exam</button>
</form>
<form asp-action="ExamForm" method="post">
    <button class="btn btn-primary" type="submit"> Take Exam </button>
</form>